<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row fxLayout="row">
    <div fxFlex="10">
      <button mat-icon-button routerLink="../">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <h1 fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center">
      Events
    </h1>
    <div fxFlex="10"></div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="events-container">
  <ng-container *ngFor="let event of events$ | async">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>HASH: HGH23G4H2134GJHG123H4GH1234FC23421B34N2134</mat-panel-title>
        <mat-panel-description>Description goes here</mat-panel-description>
      </mat-expansion-panel-header>
      Event body will be here
      <mat-action-row>
        <button mat-button color="primary">Details</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-icon>
      link
    </mat-icon>
  </ng-container>

</div>