<div class="container" fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 auto">
  <div class="login-card mat-elevation-z2">
    <h2>Login</h2>
    <form fxLayout="column">
      <mat-form-field>
        <input type="email" required matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" required matInput placeholder="Password">
      </mat-form-field>


    </form>
    <div class="buttons-container" fxLayoutAlign="end">
      <button mat-button color="primary" routerLink="../list">Login</button>
    </div>
  </div>
</div>