<ng-container *ngIf="eventChain$ | async as chain">
  <div class="events-container">
    <ng-container *ngFor="let event of chain.events; last as isLast">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{event.hash}}</mat-panel-title>
          <mat-panel-description>{{event.timestamp | date}}</mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div fxLayout="column" fxLayoutGap="8px">
            <div class="previous">
              <span class="label">Previous event:</span>
              <br>
              <i>{{event.previous}}</i>
            </div>
            <div class="hash">
              <span class="label">Event hash:</span>
              <br>
              <i>{{event.hash}}</i>
            </div>
            <div class="signature">
              <span class="label">Event signature:</span>
              <br>
              <i>{{event.signature}}</i>
            </div>
            <!-- <div class="body">
              <span class="label">Event body:</span>
              <pre>{{getBodyFor(event.hash) | json}}</pre>
            </div> -->
          </div>
        </ng-template>
        <mat-action-row>
          <button mat-button color="primary">Show body</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-icon *ngIf="!isLast">
        link
      </mat-icon>
    </ng-container>

  </div>
</ng-container>