<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
    <h1>
      Chains
    </h1>
  </mat-toolbar-row>
</mat-toolbar>
<div class="chains">
  <ng-container *ngIf="!isError; else errorTpl">
    <ng-container *ngIf="chains$ | async as chains; else loadingTpl">
      <div fxLayout="column" fxLayoutGap="16px">
        <mat-card class="mat-elevation-z1" [routerLink]="chain.id" *ngFor="let chain of chains">
          <mat-card-title>ID: {{chain.id}}</mat-card-title>
          <mat-card-content>
            <div fxLayout="row" *ngIf="chain.events">
              <div fxFlex="50">
                <span class="label" fxFlex="1 1 auto">Events: </span>
                <span>{{chain.events.length}}</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loadingTpl>
  <div class="progress-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate" [diameter]="100"></mat-progress-spinner>
  </div>
</ng-template>

<ng-template #errorTpl>
  <div class="error" fxLayout="column" fxLayoutAling="center center" fxLayoutGap="64px">
    <h3>Cannot load chains</h3>
    <div class="img-container">
      <img src="/assets/chain.jpeg" alt="">
    </div>
  </div>
</ng-template>